; ############################################################
; # Workspace PHP defaults for {{ php_version }}-{{ item.key }}
; ############################################################

[PHP]

; Memory
; Note: "memory_limit" should be larger than "post_max_size"
memory_limit = {{ item.cfg[item.key].memory_limit | default(item.cfg[item.alt].memory_limit) }}
{%- if "zlib_output_compression" in item.cfg[item.key] -%}
{{- "\n\n" }}; Enable resulting html compression
zlib.output_compression = {{ item.cfg[item.key].zlib_output_compression | default(item.cfg[item.alt].zlib_output_compression) }}
{%- endif %}
{%- if "realpath_cache_size" in item.cfg[item.key] -%}
{{- "\n\n" }}; Increase realpath cache size
realpath_cache_size = {{ item.cfg[item.key].realpath_cache_size | default(item.cfg[item.alt].realpath_cache_size) }}
{%- endif %}
{%- if "realpath_cache_ttl" in item.cfg[item.key] -%}
{{- "\n\n" }}; Increase realpath cache ttl
realpath_cache_ttl = {{ item.cfg[item.key].realpath_cache_ttl | default(item.cfg[item.alt].realpath_cache_ttl) }}
{%- endif %}
{%- if "always_populate_raw_post_data" in item.cfg[item.key] -%}
{{- "\n\n" }}; Raw post data
always_populate_raw_post_data = {{ item.cfg[item.key].always_populate_raw_post_data | default(item.cfg[item.alt].always_populate_raw_post_data) }}
{%- endif %}
{%- if "max_input_vars" in item.cfg[item.key] -%}
{{- "\n\n" }}; Increase max input variables value
max_input_vars = {{ item.cfg[item.key].max_input_vars | default(item.cfg[item.alt].max_input_vars) }}
{%- endif %}
{%- if "session_gc_probability" in item.cfg[item.key] -%}
{{- "\n\n" }}; Session garbage collector
session.gc_probability = {{ item.cfg[item.key].session_gc_probability | default(item.cfg[item.alt].session_gc_probability) }}
{%- endif %}
{%- if "opc_enabled" in item.cfg[item.key] and "opc_validate_timestamps" in item.cfg[item.key] -%}
{{- "\n\n" }}; Setup opcache configuration
opcache.enable = {{ item.cfg[item.key].opc_enabled | default(item.cfg[item.alt].opc_enabled) }}
opcache.validate_timestamps = {{ item.cfg[item.key].opc_validate_timestamps | default(item.cfg[item.alt].opc_validate_timestamps) }}
{%- endif %}
{%- if "user_ini_filename" in item.cfg[item.key] -%}
{{- "\n\n" }}; User-ini configuration
user_ini.filename = {{ item.cfg[item.key].user_ini_filename | default(item.cfg[item.alt].user_ini_filename) }}
{%- endif %}
